<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Tramusa Carrier - Líderes en el traslado de combustible</title>
		<link rel="icon" type="image/png" href="img/t3.png" />
		<link href="css/master.css" rel="stylesheet">
		<!--[if lt IE 9]>
		<script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body data-scrolling-animations="true">
		<div class="sp-body">
			<header id="this-is-top">
				<div class="container-fluid">
					<div class="topmenu row">
						<nav class="col-sm-offset-3 col-md-offset-4 col-lg-offset-4 col-sm-6 col-md-5 col-lg-5">
							<a href="cotizaciones.html">Cotizaciones</a>
							<a href="#">Documentación</a>
							<a href="#">Aviso de Privacidad</a>
						</nav>
						<nav class="text-right col-sm-3 col-md-3 col-lg-3">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-google-plus"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-youtube"></i></a>
						</nav>
					</div>
					<div class="row header">
						<div class="col-sm-3 col-md-3 col-lg-3">
							<img src="img/logo.jpg" width="211" height="67" alt="">
						</div>
						<div class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-sm-8 col-md-8 col-lg-8">
							<div class="text-right header-padding">
								<div class="h-block"><span>LLÁMANOS</span>(01) 433.935.2784</div>
								<div class="h-block"><span>E-MAIL</span>info@tramusacarrier.com.mx</div>
								<div class="h-block"><span>HORAS LABORALES</span>Lun - Sáb  8:00 - 19:00</div>
								<a class="btn btn-success" href="#">Rastreo de unidad</a>
							</div>
						</div>
					</div>
					<div id="main-menu-bg"></div>
					<a id="menu-open" href="#"><i class="fa fa-bars"></i></a>
					<nav class="main-menu navbar-main-slide">
						<ul class="nav navbar-nav navbar-main">
							<li><a href="index.html">INICIO</a></li>
              <li><a href="nosotros.html">QUIÉNES SOMOS</a></li>
							<li><a href="servicios.html">NUESTROS SERVICIOS</a></li>
							<li><a href="#">ACCESO CLIENTES</a></li>
              <li><a href="#">BLOG</a></li>
							<li><a href="contacto.html">CONTACTO</a></li>
						</ul>
	                </nav>
					<a id="menu-close" href="#"><i class="fa fa-times"></i></a>
				</div>
			</header>

			<div class="bg-image page-title">
				<div class="container-fluid">
					<a href="#"><h1>COTIZACIONES</h1></a><br>ESTAMOS EN LA MEJOR DISPOSICIÓN DE SER PARTE DE TU EQUIPO
				</div>
			</div>

			<div class="container-fluid block-content">
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-12 wow fadeInRight" data-wow-delay="3.3s">
						<div class="quote-form">
							<div class="hgroup">
								<h1 class="color-1">SOLICITE SU COTIZACIÓN</h1>
								<h2>servicio eficaz a través de tecnología innovadora</h2>
							</div>
							<div class="row">
								<div id="success"></div>
								<form novalidate id="contactForm" class="reply-form">
									<div class="col-xs-6">
										<input type="text" class="form-control" name="user-name" id="user-name" placeholder="Nombre">
									</div>
									<div class="col-xs-6">
										<input type="text" class="form-control" name="user-email" id="user-email" placeholder="Email">
									</div>
									<div class="col-xs-6">
                    <input type="text" class="form-control" name="user-phone" id="user-phone" placeholder="No. Teléfono">
									</div>
									<div class="col-xs-6">
										<input type="text" class="form-control" name="user-subject" id="user-subject" placeholder="Asunto">
									</div>
									<div class="col-xs-6">
										<input type="text" class="form-control" name="user-lastname" id="user-lastname" placeholder="Origen">
                    <input type="text" class="form-control" placeholder="Destino">
									</div>
									<div class="col-xs-6">
										<textarea  id="user-message" class="form-control" placeholder="COMENTARIOS"></textarea>
									</div>
									<div class="col-xs-6 col-xs-offset-6">
										<button type="submit" class="btn btn-danger">ENVIAR</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="container-fluid inner-offset">
				<div class="row column-info">
					<div class="col-sm-4 col-md-4 col-lg-4 wow fadeInLeft" data-wow-delay="0.3s">
						<img src="media/3-column-info/combustible.png" alt="Img">
						<span></span>
						<h3>TRANSPORTE DE COMBUSTIBLE</h3>
						<p>Distribución de combustibles mediante una flotilla de transporte especializado para llevar el producto hasta su empresa o negocio.</p>
						<a class="btn btn-default btn-sm" href="#">MÁS INFORMACIÓN</a>
					</div>
					<div class="col-sm-4 col-md-4 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
						<img src="media/3-column-info/mineral.png" alt="Img">
						<span></span>
						<h3>TRANSPORTE DE CONCENTRADO DE MINERAL</h3>
						<p>Los métodos de transporte se seleccionan teniendo en cuenta una serie de factores, talescomo: Tamaño y naturaleza del mineral sólido, distancia y capacidad del transporte.</p>
						<a class="btn btn-default btn-sm" href="#">MÁS INFORMACIÓN</a>
					</div>
					<div class="col-sm-4 col-md-4 col-lg-4 wow fadeInRight" data-wow-delay="0.3s">
						<img src="media/3-column-info/semilla.jpg" alt="Img">
						<span></span>
						<h3>TRANSPORTE DE GRANOS Y SEMILLAS</h3>
						<p>Existen diferentes tipos de embalaje para los productos agrícolas, adaptados a la naturaleza del producto y al sistema de comercialización.</p>
						<a class="btn btn-default btn-sm" href="#">MÁS INFORMACIÓN</a>
					</div>
				</div>
			</div>

			<div class="container-fluid block-content">
				<div class="row stats percent-blocks" data-waypoint-scroll="true">
					<div class="col-sm-6 col-md-3">
						<div class="chart" data-percent="30">
							<span><i class="fa fa-folder-open"></i></span>
							<span class="percent">30</span>Proyectos Finalizados
						</div>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="chart" data-percent="68">
							<span><i class="fa fa-users"></i></span>
							<span class="percent">68</span>Clientes Satisfechos
						</div>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="chart" data-percent="10">
							<span><i class="fa fa-truck"></i></span>
							<span class="percent">10</span>Nuestra Flotilla
						</div>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="chart" data-percent="25">
							<span><i class="fa fa-male"></i></span>
							<span class="percent">25</span>Nuestro Personal
						</div>
					</div>
				</div>
			</div>

			<footer>
				<div class="color-part2"></div>
				<div class="container-fluid">
					<div class="row block-content">
						<div class="col-xs-12 col-sm-4 wow zoomIn" data-wow-delay="0.3s">
							<img src="img/logo-footer.png" width="211" height="57" alt="">
							<p>Servicio eficaz a través de tecnología innovadora, procesos óptimos y personal calificado. Líderes en el traslado de combustible, minerales y semillas.</p>
							<div class="footer-icons">
								<a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
								<a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
								<a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
								<a href="#"><i class="fa fa-youtube-square fa-2x"></i></a>
							</div>
							<a href="#" class="btn btn-lg btn-danger">Rastreo de unidad</a>
						</div>
						<div class="hidden-xs col-sm-2 wow zoomIn" data-wow-delay="0.3s">
							<h4>DIRECTORIO</h4>
							<nav>
								<a href="#">Quiénes Somos</a>
								<a href="#">Nuestros Servicios</a>
								<a href="#">Acceso Clientes</a>
								<a href="#">Blog</a>
							</nav>
						</div>
						<div class="hidden-xs col-sm-2 wow zoomIn" data-wow-delay="0.3s">
							<h4>SERVICIOS</h4>
							<nav>
								<a href="#">Transporte de combustible</a>
								<a href="#">Transporte de mineral</a>
								<a href="#">Transporte de semillas</a>
							</nav>
						</div>
						<div class="hidden-xs col-sm-4 wow zoomIn" data-wow-delay="0.3s">
							<h4>CONTÁCTANOS</h4>
							<div class="contact-info">
								<span><i class="fa fa-location-arrow"></i><strong>SOMBRERETE ZACATECAS</strong><br>Carretera Panamericana KM. 162.6 CP: 99100</span>
								<span><i class="fa fa-phone"></i>(01) 433.935.2784</span>
								<span><i class="fa fa-envelope"></i>info@tramusacarrier.com.mx</span>
								<span><i class="fa fa-clock-o"></i>Lun - Sáb  9.00 - 19.00</span>
							</div>
						</div>
					</div>
					<div class="copy text-right"><a id="to-top" href="#this-is-top"><i class="fa fa-chevron-up"></i></a><a href="#">SAEMI</a> &copy; 2019 TramusaCarrier - Todos los derechos reservados.</div>
				</div>
			</footer>
		</div>

		<!--Main-->
		<script src="js/jquery-1.11.3.min.js"></script>
		<script src="js/jquery-ui.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/modernizr.custom.js"></script>

        <script src="assets/rendro-easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
        <script src="js/waypoints.min.js"></script>
        <script src="js/jquery.easypiechart.min.js"></script>
		<!--Switcher-->
		<script src="assets/switcher/js/switcher.js"></script>
		<!--Owl Carousel-->
		<script src="assets/owl-carousel/owl.carousel.min.js"></script>
		<!-- SCRIPTS -->
	    <script type="text/javascript" src="assets/isotope/jquery.isotope.min.js"></script>
		<!--Theme-->
		<script src="js/jquery.smooth-scroll.js"></script>
		<script src="js/wow.min.js"></script>
		<script src="js/jquery.placeholder.min.js"></script>
		<script src="js/smoothscroll.min.js"></script>
		<script src="js/theme.js"></script>
	</body>
</html>
